<!-- Table 'miio_devices' edit -->
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
	[#if OK#]
	<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
	[#endif OK#]
	
	[#if ERR#]
	<div class="alert alert-error"><#LANG_FILLOUT_REQURED#></div>
	[#endif ERR#]
	
	<fieldset>
		[#if ID=""#]
		<legend>Автоматический поиск шлюзов</legend>
		
		[#else ID#]
		<legend><#TITLE#></legend>
		
		[#endif ID#]

		<div class="form-group">
			<label class="col-lg-8" style="font-weight:bold">
				В данном разделе будет осуществляться автоматический поиск шлюзов
			</label>
		</div>
		
		<div class="form-group">
			<div class="col-lg-offset-3 col-lg-4">
				<a href="?data_source=<#DATA_SOURCE#>" class="btn btn-default "><#LANG_STRING_BACK#></a>
			</div>
		</div>
	

	</fieldset>
</form>
