<!-- action usual -->
[#if DATA_SOURCE="okbit_gate" || DATA_SOURCE=""#]

	<!-- table okbit_gate search -->
	[#if VIEW_MODE="search_okbit_gate" || VIEW_MODE=""#]
	
		<div class="float-right" style="margin-top:20px; margin-right:20px;">
			<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#about"><#LANG_OKBIT_APP_ABOUT#>&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign icon-white"></span></button>
		</div>
		
		
		<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="about1" aria-hidden="true">
		<!-- <div id="about" class="modal hide"> -->
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">OkBit.ru UDP</h4>
					</div>
					<div class="modal-body">
						<div class="float-right">
							<img src="../templates/okbit/img/logo.png"  width="48" height="48">
							<br><br><p><b>v.0.2</b></p>
						</div>
						<p class="float-left">
							<#LANG_OKBIT_APP_MODULE#><br><br>
							<#LANG_OKBIT_APP_DISCUS#><a href="https://majordomo.smartliving.ru/forum/viewtopic.php?f=5&t=5851" target="_blank"><#LANG_OKBIT_APP_DISCUS2#></a>.<br>
							<#LANG_OKBIT_APP_PROJ#> <a href="https://github.com/foxvlad/OkBitUDP" target="_blank">GitHub</a>.<br>
							<#LANG_OKBIT_APP_CONNECT#><a href="https://connect.smartliving.ru/tasks/314.html" target="_blank">Connect</a>.<br>
						</p>
						
						<h6><#LANG_OKBIT_APP_THANKS#> <b>skysilver</b>, <b>Aven</b>, <b>Egor Savenko</b></h6>
					</div>
					<div class="modal-footer">
						<div class="pull-left"><#LANG_OKBIT_APP_Author#>: <a href="http://okbit.ru" target="_blank">foxvlad</a></div>
						<button type="button" class="btn btn-default" data-dismiss="modal"><#LANG_OKBIT_APP_CLOSE#></button>
					</div>
				</div>
			</div>
		</div>


		<div>
			<img src="../templates/okbit/img/logo.png"  width="30" height="30">
			&nbsp;&nbsp;&nbsp;
			<a class="btn btn-default" href="#api_settings" data-toggle="collapse"><i class="glyphicon glyphicon-cog"></i> <#LANG_SETUP#></a>
			&nbsp;&nbsp;&nbsp;
			[#if CYCLERUN==1#]
				<span class="label label-success" title="Статус цикла"><#LANG_OKBIT_APP_CYCLE_START#></span>
			[#else#]
				<span class="label label-danger" title="Статус цикла"><#LANG_OKBIT_APP_CYCLE_STOP#></span>
			[#endif#]
		</div>

		<div class="collapse" id='api_settings'>
			&nbsp;
			<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
				<fieldset>
					<div class="form-group">
						<label class="control-label"><#LANG_OKBIT_APP_IP_SERVER#>
						<span class='support-hover' tabindex="1" data-title="<#LANG_OKBIT_APP_IP_TOOLTIP#>">
							<i class="glyphicon glyphicon-info-sign"></i>
						</span>
						</label>
						<div class="col-lg-4"><input class="form-control" type="text" name="api_ip" value="<#API_IP#>" class="input"></div>
					</div>
					
					
					<div class="form-group">
						<label class="control-label"><#LANG_OKBIT_APP_PERIOD#>
						<span class='support-hover' tabindex="1" data-title="<#LANG_OKBIT_APP_PERIOD_TOOLTIP#>">
							<i class="glyphicon glyphicon-info-sign"></i>
						</span>
						</label>
						<div class="col-lg-4"><input class="form-control" type="text" name="api_disc_period" value="[#if API_DISC_PERIOD!=""#][#API_DISC_PERIOD#][#else#]120[#endif#]" class="input"></div>
					</div>
					
					<div class="form-group">
						<div class="controls"><input type="checkbox" name="api_log_debmes" value="1"[#if API_LOG_DEBMES="1"#] checked[#endif#]> 
							<#LANG_OKBIT_APP_DEBUG#> DebMes
							<span class='support-hover' tabindex="1" data-title="<#LANG_OKBIT_APP_DEBUG_TOOLTIP#>">
								<i class="glyphicon glyphicon-info-sign"></i>
							</span>
						</div>
					</div>		
					
					<div class="form-group">
						<div class="controls"><input type="checkbox" name="api_log_cycle" value="1"[#if API_LOG_CYCLE="1"#] checked[#endif#]> 
							<#LANG_OKBIT_APP_DEBUG#> Cycle
							<span class='support-hover' tabindex="1" data-title="<#LANG_OKBIT_APP_DEBUG_TOOLTIP2#>">
								<i class="glyphicon glyphicon-info-sign"></i>
							</span>
						</div>
					</div>
					
					<div class="form-actions">
						<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
						<input type="hidden" name="view_mode" value="update_settings">
						<input type="hidden" name="mode" value="update">
					</div>
					
					
					
					
				</fieldset>
			</form>
		</div>


 
		[#inc okbit_gate_search_admin.html#]
	[#endif VIEW_MODE#]
	<!-- / table okbit_gate search -->
	
	<!-- table okbit_gate edit -->
	[#if VIEW_MODE="edit_okbit_gate"#]
	
		[#if ID!="" && MOD!="6000"#]
			[#if TITLE!=""#]<h4>[#TITLE#]</h4>[#endif TITLE#]
			<ul class="nav nav-tabs">
				<li[#if TAB=""#] class="active"[#endif#]>
				<a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab="><#LANG_GENERAL#></a>
				</li>
				<li[#if TAB="data"#] class="active"[#endif#]>
				<a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=data"><#LANG_DATA#></a>
				</li>
				<li[#if TAB="data_else"#] class="active"[#endif#]>
				<a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=data_else"><#LANG_OKBIT_APP_INFO#></a>				
				</li>
			</ul>
			&nbsp;<br/>
		[#endif ID && MOD#]
		
		
		[#if MOD="6000"#]
				<ul class="nav nav-tabs">
					<li[#if TAB=""#] class="active"[#endif#]>
						<a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab="><#LANG_GENERAL#></a>
					</li>
					<li[#if TAB="data_else"#] class="active"[#endif#]>
						<a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=data_else">Настройки шлюза</a>				
					</li>
				</ul>
				&nbsp;<br/>
				[#endif MOD#]
		
		
		
		[#if TAB=""#]
			[#inc okbit_gate_edit.html#]
		[#endif TAB#]
		
		[#if TAB="data"#]
			[#inc okbit_gate_edit_data.html#]
		[#endif TAB#]
		
		[#if TAB="data_else"#]
			UPDATED - [#UPDATED#]			
		[#endif TAB#]
		
	[#endif VIEW_MODE#]
	<!-- / table okbit_gate edit -->
	
	<!-- table okbit_gate view --> 
	[#if VIEW_MODE="view_okbit_gate"#]
		[#if TAB=""#]
			[#inc okbit_gate_view_default.html#]
		[#endif TAB#]
	[#endif VIEW_MODE#]
	<!-- / table okbit_gate view -->
	
[#endif DATA_SOURCE#]


<!-- action usual -->
[#if DATA_SOURCE="okbit_device"#]
	<!-- table okbit_devices search -->
	[#if VIEW_MODE="search_okbit_devices" || VIEW_MODE=""#]
		[#inc okbit_devices_search_admin.html#]
	[#endif VIEW_MODE#]
	<!-- / table okbit_devices search -->
	
	<!-- table okbit_device edit -->
	[#if VIEW_MODE="edit_okbit_device"#]
		
		[#if ID=""#]
		<h4><#PARENT_TITLE#> / Добавить модуль</h4>
		
		[#else ID#]
		<h4><#PARENT_TITLE#> / <#TITLE#></h4>
		
		[#endif ID#]
	
		[#if ID!=""#]		
			<ul class="nav nav-tabs">
				<li[#if TAB=""#] class="active"[#endif#]>
					<a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=&parent_id=<#PARENT_ID#>&parent_title=<#PARENT_TITLE#>"><#LANG_GENERAL#></a>
				</li>
				<li[#if TAB="data"#] class="active"[#endif#]>
					<a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=data&parent_id=<#PARENT_ID#>&parent_title=<#PARENT_TITLE#>"><#LANG_DATA#></a>
				</li>
			</ul>
		[#endif ID#]		
		[#if TAB=""#]
			&nbsp;<br/><br/>
			[#inc okbit_device_edit.html#]
		[#endif TAB#]		
		[#if TAB="data"#]
			&nbsp;<br/><br/>
			[#inc okbit_device_edit_data.html#]
		[#endif TAB#]

	[#endif VIEW_MODE#]
	<!-- / table okbit_device edit -->
	
	<!-- table okbit_device view --> 
	[#if VIEW_MODE="view_okbit_device"#]
		[#inc okbit_device_view.html#]
	[#endif VIEW_MODE#]
	<!-- / table okbit_device view -->
[#endif DATA_SOURCE#]
