<!-- Table gate_okbit edit -->
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
	[#if OK#]
	<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
	[#endif OK#]
	
	[#if ERR#]
	<div class="alert alert-error"><#LANG_FILLOUT_REQURED#></div>
	[#endif ERR#]
	
	<fieldset>
		[#if ID=""#]
		<legend><#LANG_OKBIT_APP_ADD_GATE#></legend>
		
		[#else ID#]
			[#if MOD=="6000"#]
				<legend><#TITLE#></legend> 
			[#endif MOD#]
		[#endif ID#]
		
		
		
		

		<div class="form-group">
			<label class="col-lg-3 control-label" style="font-weight:bold">
				<#LANG_TITLE#>:
			</label>
			<div class="col-lg-4"><input type="text" class="form-control" name="title" value="[#TITLE#]" id="title"></div>
		</div>

		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_IP#] style="color:red;font-weight:bold"[#endif#]>
				IP (*):
			</label>
			<div class="col-lg-4"><input type="text" class="form-control" name="ip" value="[#IP#]" id="ip"></div>
		</div>
		
		<div class="form-group">
			<label class="col-lg-3 control-label"[#if ERR_MOD#] style="color:red;font-weight:bold"[#endif#]>
				<#LANG_TYPE#> (*):
			</label>
			<div class="col-lg-4">
				<select name="mod" class="form-control">
					<option value=""></option>
					<option value="6000" [#if MOD="6000"#] selected[#endif#]>GATE UDP-RS485</option>
					<option value="7001" [#if MOD="7001"#] selected[#endif#]>ESP Lamp</option>
					<option value="7002" [#if MOD="7002"#] selected[#endif#]>ESP Climatic</option>
					<option value="7003" [#if MOD="7003"#] selected[#endif#]>ESP Rele</option>
					<option value="7004" [#if MOD="7004"#] selected[#endif#]>ESP LED RGB</option>
					<option value="7005" [#if MOD="7005"#] selected[#endif#]>ESP Dimmer</option>
					<option value="7006" [#if MOD="7006"#] selected[#endif#]>ESP Sensor</option>			

				</select>
			</div>
		</div>

		
		<div class="form-group">
			<div class="col-lg-offset-3 col-lg-4">
				[#if ID!=""#]
				<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
				[#else ID#]
				<button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
				[#endif ID#]
				<a href="?data_source=<#DATA_SOURCE#>" class="btn btn-default "><#LANG_STRING_BACK#></a>
				<input type="hidden" name="id" value="<#ID#>">
				<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
				<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
				<input type="hidden" name="mode" value="update">
				<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
				<input type="hidden" name="tab" value="<#TAB#>">
			</div>
		</div>
	</fieldset>
</form>


<!-- / Table gate_okbit edit -->